* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

body {
  background: linear-gradient(
    to right,
    rgb(5, 99, 143),
    rgb(3, 148, 158),
    rgb(13, 155, 160)
  );
}

.clock {
  height: 300px;
  width: 300px;
  margin: 20% auto;
  border-radius: 50%;
  position: relative;
  background-color: rgb(216, 202, 202);
}

.number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  transform: rotate(var(--rotation));
}

.number1 {
  transform: rotate(30deg);
}
.number1 {
  --rotation: 30deg;
}
.number2 {
  --rotation: 60deg;
}
.number3 {
  --rotation: 90deg;
}
.number4 {
  --rotation: 120deg;
}
.number5 {
  --rotation: 150deg;
}
.number6 {
  --rotation: 180deg;
}
.number7 {
  --rotation: 210deg;
}
.number8 {
  --rotation: 240deg;
}
.number9 {
  --rotation: 270deg;
}
.number10 {
  --rotation: 300deg;
}
.number11 {
  --rotation: 330deg;
}
.number12 {
  --rotation: 360deg;
}

.hour-hand {
  height: 20%;
  background-color: #000;
  width: 6px;
}

.min-hand {
  height: 45%;
  background-color: #000;
  width: 5px;
}

.sec-hand {
  height: 45%;
  background-color: red;
  width: 1px;
}

.hands{
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  border-radius: 10px 10px 0 0;
}

.clock::after{
  content: '';
  position: absolute;
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 48%;
  left: 47%;
  z-index: 11;
  transform: translate(-50% -50%);
}